<!DOCTYPE html>
<html lang="en">
  <!-- Gunakan include untuk mengimport dan menggunakan file head.ejs  -->
  <%- include('./includes/head.ejs') %>

  <body style="background-color: whitesmoke">
    <!-- Gunakan include untuk mengimport dan menggunakan file navbar.ejs  -->
    <%- include('./includes/navbar.ejs') %>

    <div class="jumbotron jumbotron-fluid"></div>

    <div class="container" style="margin-top: -300px; margin-bottom: 30px">
      <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-5">
        <!-- Gunakan forEach untuk menampilkan data yang dikirim melalui routes -->
        <% book.forEach(books => { %>
        <div class="col mb-4">
          <div class="card" style="width: 18rem">
            <img
              src="<%= buku.image %> "
              style="object-fit: cover"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h6 class="card-title mb-2 text-muted fs-6"><%= buku.penulis %></h6>
              <h5   class="card-title"><%= buku.title %></h5>
              <h5 class="card-title mb-2 text-muted">Rp.<%= buku.harga %></h5>
              <a href="/detail/<%= buku._id %> " class="btn btn-primary"> Details </a>
            </div>
          </div> 
        </div>
        <% }); %>
      </div>
    </div>

    <!-- Gunakan include untuk mengimport dan menggunakan file footer.ejs  -->
    <%- include('./includes/footer.ejs') %>
  </body>
</html>
